

.pass-container {
	padding-top: 3px;
	padding-bottom: 45px;
}
.pass-container .passslot-pass, .pass-container .pass-loader, .pass-container .pass-success  {
	margin: 0 auto;
}

.pass-loader, .pass-success {
	text-align: center;
}

.pass-success .pass-openurl a{
	text-decoration: none;
}

.options {
	text-align: center;
	margin: 0 auto;
	width: 312px;
}

.block {
	margin: 10px 0px;
}
	
